* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul {
  padding: 0 !important;
  /*Para evitar el formato de bs*/
  margin: 0 !important;
  /*Para evitar el formato de bs*/
}

h3 {
  font-family: "Montserrat";
}

@media screen and (min-width: 550px) {
  /*BODY*/
  .contenedor-principal {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh auto max-content max-content max-content 10vh;
    grid-template-areas: "header     header      header" "menu-nav   menu-nav    menu-nav" "banner     banner      banner" "prodest    prodest     prodest" "profavs    profavs     profavs" "pie        pie         pie";
  }
  /********************HEADER********************/
  .contenedor__header {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
  }
  .contenedor__header__div {
    transition: all 0.3s;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor__header__div a {
    text-decoration: none;
    font-family: Montserrat, cursive;
    font-size: 3vw;
    color: rgb(255, 160, 150);
    position: relative;
  }
  .contenedor__header__div img {
    width: 5vw;
    height: 5vw;
  }
  .contenedor__header__div:hover {
    transform: scale(1.1);
  }
  /********************NAV********************/
  .contenedor__nav {
    grid-area: menu-nav;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10vh;
    border-top-style: groove;
    border-top-color: #C9BAB6;
    z-index: 2;
  }
  .contenedor__nav__menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor__nav__menu li {
    transition: all 0.3s;
    margin-inline: 3vw;
    flex-direction: column;
  }
  .contenedor__nav__menu li:hover {
    transform: scale(1.1);
  }
  .contenedor__nav__menu li a {
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.7vw;
    font-family: Montserrat, cursive;
    text-decoration: none;
    transition: all 0.3s;
    color: #C18174;
  }
  .contenedor__nav__menu li a:hover {
    color: rgb(255, 160, 150);
  }
  .productos_destacados {
    grid-area: prodest;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  .productos_destacados__div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .productos_destacados__div h1 {
    font-size: 2.7vw;
    font-family: Dancing Script, Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: auto;
    border-style: groove;
    border-color: #C9BAB6;
    height: auto;
    width: 100%;
    border-radius: 3rem;
    border-radius: 3rem;
    background-color: whitesmoke;
  }
  .productos_destacados__div img {
    width: 18vw;
    margin: 3px;
    height: 18vw;
    border-radius: 15%;
    background-color: silver;
    opacity: 0.8;
    padding: 1%;
  }
  .productos_destacados__div img:hover {
    opacity: 1;
  }
  .productos_favoritos {
    grid-area: profavs;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  .productos_favoritos__div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .productos_favoritos__div h1 {
    font-size: 2.7vw;
    font-family: Dancing Script, Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: auto;
    border-style: groove;
    border-color: #C9BAB6;
    height: auto;
    width: 100%;
    border-radius: 3rem;
    border-radius: 3rem;
    background-color: whitesmoke;
  }
  .productos_favoritos__div img {
    width: 17vw;
    margin: 3px;
    height: 17vw;
    border-radius: 15%;
    background-color: silver;
    opacity: 0.8;
    padding: 1%;
  }
  .productos_favoritos__div img:hover {
    opacity: 1;
  }
  .contenedor__footer {
    grid-area: pie;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top {
    height: 260px;
  }
}
@media screen and (max-width: 550px) {
  /*BODY*/
  .contenedor-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 12vh auto auto 10vh;
    grid-template-areas: "header     header" "menu-nav   menu-nav" "banner     banner" "prodest    prodest" "pie        pie";
  }
  /********************HEADER********************/
  .contenedor__header {
    grid-area: header;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor__header__div {
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor__header__div img {
    width: 80px;
    height: 80px;
  }
  .contenedor__header__div :hover {
    transform: scale(1.1);
  }
  .contenedor__header__div a {
    text-decoration: none;
    font-family: Montserrat, cursive;
    font-size: x-large;
    color: rgb(255, 160, 150);
    position: relative;
  }
  /********************NAV********************/
  .contenedor__nav {
    grid-area: menu-nav;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
  }
  .nav__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav__menu li {
    transition: all 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav__menu li a {
    font-size: 14pt;
    font-family: Montserrat, cursive;
    text-decoration: none;
    transition: all 0.3s;
    color: #C18174;
  }
  ul.nav__menu li a:hover {
    color: rgb(255, 160, 150);
  }
  .banner {
    background-color: #C9BAB6;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    grid-area: banner;
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
  .banner img {
    width: 100vw;
    height: 55dvw;
  }
  .productos_destacados {
    grid-area: prodest;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  .productos_destacados div {
    width: 100vw;
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .productos_destacados div div {
    padding: 1%;
  }
  .productos_destacados img {
    width: 260px;
    height: 260px;
    border-radius: 15%;
    padding: 0.5%;
    background-color: silver;
    opacity: 0.7;
  }
  .productos_destacados img:hover {
    opacity: 1;
  }
  .contenedor__footer {
    grid-area: pie;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .seccion__carrusel {
    width: 100vw;
  }
  .card img {
    height: 260px;
  }
}/*# sourceMappingURL=style.css.map */