* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}


.contenedor-ofertas {
    grid-area: pro-dest;
    background-color: gray;
}

.seccion__carrusel {
    grid-area: carrusel;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************************************/

@media screen and (min-width: 990px) {
    .contenedor-principal {
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
        grid-template-rows: 15vh 10vh 75vh 60vh 35vh 35vh 10vh;
        grid-template-areas:
            "header     header      header"
            "menu-nav   menu-nav    menu-nav"
            "carrusel   carrusel    carrusel"
            "pro-dest   pro-dest    pro-dest"
            "ofertas    ofertas     ofertas"
            "aside      aside       aside"
            "pie        pie         pie";
    }
    

    .contenedor__header {
        grid-area: header;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor__header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;
    }

    .contenedor__header div a {
        text-decoration: none;
        font-family: Montserrat, cursive;
        font-size: x-large;
        color: rgb(255, 160, 150);
        position: relative;
    }

    .contenedor__header div img {
        width: 80px;
        height: 80px;
    }

    .contenedor__header div:hover {
        transform: scale(1.1);
    }

    .contenedor__nav {
        grid-area: menu-nav;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .nav__menu {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 10%;
    }

    ul.nav__menu li {
        transition: all 0.3s;
    }

    ul.nav__menu li:hover {
        transform: scale(1.1);

    }

    ul.nav__menu li a {
        padding: 2rem;
        font-size: larger;
        font-family: Montserrat, cursive;
        text-decoration: none;
        transition: all 0.3s;
        color: #C18174;

    }

    ul.nav__menu li a:hover {
        color: rgb(255, 160, 150);
    }

    .productos-destacados {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .productos-destacados div img {
        width: 250px;
        height: 250px;
        opacity: .7;
        border-radius: 1rem;
    }
    
    .productos-destacados div img:hover{
        opacity: 1;
    }
}


/******************************************************/

@media screen and (max-width: 989px) {

    .contenedor-principal {
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
        grid-template-rows: 15vh 25vh 45vh 60vh 35vh 35vh 10vh;
        grid-template-areas:
            "header     header      header"
            "menu-nav   menu-nav    menu-nav"
            "carrusel   carrusel    carrusel"
            "pro-dest   pro-dest    pro-dest"
            "ofertas    ofertas     ofertas"
            "aside      aside       aside"
            "pie        pie         pie";
    }
    

    .contenedor__header {
        grid-area: header;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor__header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;
    }

    .contenedor__header div a {
        text-decoration: none;
        font-family: Montserrat, cursive;
        font-size: x-large;
        color: rgb(255, 160, 150);
        position: relative;
    }

    .contenedor__header div img {
        width: 80px;
        height: 80px;
    }

    .contenedor__header div:hover {
        transform: scale(1.1);
    }

    .contenedor__nav {
        grid-area: menu-nav;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .nav__menu {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul.nav__menu li {
        transition: all 0.3s;

    }

    ul.nav__menu li:hover {
        transform: scale(1.1);

    }

    ul.nav__menu li a {
        font-size: larger;
        font-family: Montserrat, cursive;
        text-decoration: none;
        transition: all 0.3s;
        color: #C18174;

    }

    ul.nav__menu li a:hover {
        color: rgb(255, 160, 150);
    }

    .productos-destacados {
        grid-area: pro-dest;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

    }
    
    .productos-destacados div {
        padding: 1rem; 
    }
    
    .productos-destacados div img {
        width: 250px;
        height: 250px;
        border-radius: 1rem;
    }
}

/******************************************************/
/*DIVs y IMGs index*/

.seccion__carrusel {
    display: flex;
    justify-content: center;
    align-items: start;
}

/******************************************************/


